.App {
  text-align: center;
  // background-color: #797a7e;
  height: 100vh;
  margin-top: 16px;
}

.pivot {
  background-color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  &__card {
    background-color: #fff;
    width: 100%;
    padding: 16px;
  }
}

.spacer {
  margin-bottom: 50px;
}
